body{
    background-color: #DEE9F7;
}
header{
    /*width: 150rem;*/
    background-color:  #465B75;
}
.contenido-principal{
    display: flex;
    gap: 1rem;
    padding: 1rem;
}
.contenido-principal .Notebooks{
    display: block;
    
}
.Menu ul{
    justify-content: flex-end;
    display: flex;
}
.Menu li{
    list-style: none;
    padding:      .5rem;
    padding-top:   1rem;
    padding-right: 1rem;
    
}
.Menu a{
    color: white;
    text-decoration: none;
}
.Menu a:hover{
    color: #808080;
}
.logo{
    margin-left: 5rem;
    color: white;
    font-size: 2rem;
    
}
.logo p{
    padding-left: 4rem;
    padding-top: 5rem;
    font-size: bolder;
}
.filtros select{
    display: flex;
    margin: .5rem;
}
.filtros{
    border: solid .1rem;
    width: 15rem;
    padding-left: 1rem;
    margin-right: auto;
    background-color: #ffffff   ;
    margin-bottom: auto;
}
.filtros input,
.filtros select{
    width: 13rem;
    background-color: #6A6F75;
}
::placeholder{
    color: white;  
}
.productos{
    flex: 1;
    display:block;
    text-align: left;
    background-color:  #ffffff;
    border: solid .1rem black;
    padding: .5rem;

}
.grid-productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 2rem;
}
.producto a{
    text-decoration: none;
    color: orange;
    font-size: 3rem;
    font-weight: bold;
}
footer{
    background-color: #333333;
    display: flex;
    color: #ffffff;
    padding-left: 3rem;
    gap: 1rem;
    
}
footer h2::after{
    content: '';
    display: block;
    width: 33.3rem;
    height: .2rem;
    background-color: #ffffff;
    
}
.bold{
    font-weight: bold;
}