body{ 
    background-color: #DEE9F7;
}
header{
    background-color: #465B75;
    max-width: 150rem; /* o usa 150rem si quieres en unidades relativas */
    margin: 0 auto;
    padding: 1rem;
}
.producto li{
    list-style: none;
    text-align: center;
}
.producto a{
    color:  #ff6347;
    text-align: start;
    text-decoration: none;
    font-weight:  bold;
    font-size: 1.5rem;
}


.Menu ul {
    list-style: none; /*le quita los puntos a las listas*/
    color: white;
    text-align: end; /*alinea la lista a la derecha*/
    display: flex;
    justify-content: flex-end;
    padding: 0;
    margin: 0 ;

}
.Menu li{
    margin-left: 1rem;
    padding-right: 1rem;
}
.Menu a{
    color: white;
    text-decoration: none;
    font-weight: bolder;/* es una propiedad que controla el grosor del texto*/
}
.Contenido{
    margin-left: 3rem;
}
.Contenido img{
    width: 20rem; /* reducir la imagen*/
    height: auto;
}
.Contenido p{
    color: white;
    font-size: 2rem;
    margin-bottom: auto;
}
.productos{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 2rem;
}
.producto{
    background-color: #ffffff;
    padding: 1.5rem;
    text-align: left;
}
.producto img{
    width: 15rem;
    height: auto;
}
.filtros{
    margin-bottom:auto;
    background-color: #ffffff;
    border: 1px solid #6A6F75;
    padding: 1rem;
}
.filtros h3 {
    margin-top: 1rem;
    color: #000000;
}

.filtros select,
.filtros input {
    width: 100%;
    margin-bottom: .2rem;
}
.contenedor-principal {
    display: grid;
    grid-template-columns: 250px 1fr; /* 250px para filtros, el resto para productos */
    gap: 2rem;
    padding: 2rem;
}